button{
    margin-right: 3rem;
}

.div-form {
    display: block;
    max-width: 480px;
    margin: auto;
    margin-top: 100px;
    border-radius: 28px;
    opacity: 0.8;
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
  }

  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    display: inline-block;
    margin: auto;
    text-align: left;
    
    
  }

  span {
    padding-right: 1rem;
  }

  button{
    border-radius: 28px;
    display: inline;
    text-align: center;
  }

  a{
    padding-right: 5px;
    size: 18px;
    margin-top:20px;
    text-decoration: none;
  }

  .toolbar{
   
    justify-content: space-between;
  }
  .card{
    width: 400px;
    border-radius: 12px;
    border: grey;
    opacity: 2px;
  }