<div class="div-form">
<form class="example-form">
    <table class="example-full-width" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="example-full-width">
            <mat-label>First name</mat-label>
            <input matInput>
        </mat-form-field></td>
      <td>
        <mat-form-field class="example-full-width">
            <mat-label>Last Name</mat-label>
            <input matInput>
        </mat-form-field>
      </td>
    </tr>
    </table>
  
    <p>
      <mat-form-field class="example-full-width">
        <mat-label>Email</mat-label>
        <input matInput>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Password</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
    </p>
    <button mat-raised-button color="primary">Register</button>
    <a routerLink='/auth/login'>If you already have an account? Log In</a>
  </form>
</div>

